extends layout

block content
    div(align= 'center')
        img( src='/images/chat.png' width="50vw" height="50vw")
        .chattitle(align ='center') CHAT
        .users
        .chatWindow
        form("msg"='')
            input.msgfield(type='message', placeholder='Write a message')
            br
            center
            input.sendbtn(type='submit', value='Send')