doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css')
