extends layout

block content
    div( align='center' )
        img( src='/images/chesslogo.jpg' width="150vw" height="100vw")
    p
    div
        p.font-weight-bold( align='center') Current Games

    div( id = 'current-games' )
        button.btn.btn-success.btn-sm.btn-block( id='UniqueId' onclick=) Game 1
        button.btn.btn-success.btn-sm.btn-block Game 2
        button.btn.btn-success.btn-sm.btn-block Game 3
    p

    div
        p.font-weight-bold( align='center')  View Games

    div( id='view-games')
        button.btn.btn-warning.btn-sm.btn-block Game 6
        button.btn.btn-warning.btn-sm.btn-block Game 7
        button.btn.btn-warning.btn-sm.btn-block Game 8
    p

    div
        button.btn.btn-danger.btn-sm.btn-block Quit Game
    p

    div
        button.btn.btn-outline-dark.btn-sm.btn-block Rules
    p
    div
        button.btn.btn-outline-danger.btn-sm.btn-block Sign Out
    p